<!doctype html>
<html>
<head>
    <title>Test'em</title>
    <link rel="stylesheet" href="/testem/mocha.css">
    <script src="/testem/mocha.js"></script>
    <script src="/testem.js"></script>
    <script>mocha.setup('bdd')</script>
    <script>
        Testem.on('all-test-results', function(results) {
            console.log("Sending coverage information to coverage server");
            var xhr = new XMLHttpRequest()
            xhr.open('POST', 'http://localhost:7358/')
            xhr.send(JSON.stringify(window.__coverage__));
        })
    </script>
    {{#serve_files}}
    <script src="{{src}}"></script>
    {{/serve_files}}
<body>
<div id="mocha"></div>
<script>
    mocha.run()
</script>
</body>
</html>
